#!/bin/bash

. /lib/svc/share/smf_include.sh

COUCH_USR_HOME={{ couchpotato_user_home }}
COUCH_DIR={{ couchpotato_conf_path }}
COUCH_PID={{ couchpotato_pid_file }}
COUCH_ARGS="{{ couchpotato_service_args }}"
DAEMON={{ couchpotato_binary_path }}/CouchPotato.py
PATH={{ couchpotato_path_var }}

do_start()
{
	if [ -n "$COUCH_DIR" ]; then
		export COUCH_DIR
	fi

	$DAEMON $COUCH_ARGS
}

do_stop()
{
	kill -9 `cat $COUCH_PID`
}

case "$1" in
	start)
		do_start
		;;
	stop)
		do_stop
		;;
	refresh)
		do_stop
		do_start
		;;
	*)
		echo "Usage: ${0} {start|stop|refresh}" >&2
		exit $SMF_EXIT_ERR_FATAL
		;;
esac

exit $SMF_EXIT_OK
